$blue : #86c5da;
$black: #141414;
$red: #ED4337;

body {
  font-family: 'Carme', sans-serif;
  background: $black;
  color: $blue;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.output {
  font-size: 36pt;
}

#userInput {
  border: 3px solid $black;
  border-radius: 10px;
  padding: 30px 50px;
  background: $blue;
  .btn {
    border-radius: 100px;
    width: 200px;
    height: 80px;
    font-size: 18pt;
  }

  p {
    color: black;
    font-size: 18pt;
    margin-bottom: -12px;
  }
}

#user_time {
  font-size: 24pt;
  color: black;
  margin: 20px;
  text-align: center;
}

#cityInput {
  font-size: 24pt;
  text-align: center;
  height: 60px;
  color: black;
}

.bikeBox {
  padding-top: 20px;
  font-size: 18pt;
  border: 3px inset $blue;
  border-radius: 5px;
  height: 550px;
}

.loadingImage {
  display: none;
  h2 {
    color: $red;
  }
}
